<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>Model</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>Model</key>
		<dict>
			<key>Author</key>
			<data>
			2X1qwaYRwwf0rbh/IBv0mip9NxOnRIkVyRppXEzhvXE=
			</data>
			<key>Book</key>
			<data>
			OlBfvS54bs29GAaYxjECd5h7TfZ/dhzDtsV8AxFkIiQ=
			</data>
			<key>BookTag</key>
			<data>
			l8w5rpHs+g5zzRHuH7CFmiKNDaIGoZ2eBYZbJp6Ll3U=
			</data>
		</dict>
	</dict>
</dict>
</plist>
